<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css' />
		<link rel='stylesheet' href='/style.css' />
		<title>Board Game Stats</title>
	</head>
	<body>
		<header>
			<h1>Board Game Stats</h1>
			<nav>
				<ul>
					<li><a href='/games'>Games</a></li>
					<li><a href='/players'>Players</a></li>
					<li><a href='/plays'>Plays</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{{{body}}}
		</main>
	</body>
</html>
