<h2>Plays List</h2>

<p><a href='/plays/new'>Create New</a></p>

<ul>
	{{#each plays}}
		<li>
			<a href='/plays/{{id}}'>
				<span>{{title}} - {{player_names}}</span>
			</a>
		</li>
	{{/each}}
</ul>